*{
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1{
    font-size: 80px;
    color: rgb(73, 11, 11);
    font-family: 'My Soul', cursive;
    text-shadow: 0 0 5px #696969aa;
    cursor: pointer;
    
}

a{
    transition: 0.3s;
    color: #fff;
    text-shadow: 0 0 5px #000000aa;
    font-size: 30px;
    display: inline-block;
    /* padding: 50px; */
    width: 30%;
    text-align: center;
    /* background-color: #ddd; */
    margin-bottom: 50px;
    opacity: 0;
}

a img{
    border-radius: 280px;
    width: 100%;
    transition: 1s;
}

a:hover img{
    transform: scale(1.05);
    filter: drop-shadow(0 0 20px white);
}

.visible{
    opacity: 1;
}

.game{
    background-color: rgba(63, 63, 63, 0.5);
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0%;
    left: 15%;
    backdrop-filter: blur(20px);
    z-index: 9;
    /* transform: translateY(-100%); */
    /* display: none; */
    opacity: 0;
    transition: 0.7s;
}

.game h2{
    font-size: 70px;
    color: rgb(73, 11, 11);
    font-family: 'My Soul', cursive;
    text-shadow: 0 0 5px #696969aa;
    cursor: pointer;
}

.game h3{
    width: 50%;
    float: left;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 5px #000000aa;
}

canvas{
    width: 100%;
    margin-top: 30px;
    background-color: #ddd;
}

.game button{
    /* width: 150px; */
    height: 80px;
    font-size: 60px;
    background-color: rgb(230, 46, 46);
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 0 0 50px #000000aa;
    transition: 0.5s;
    cursor: pointer;
    padding: 0 20px;
}

.game button:hover{
    /* width: 200px; */
    padding: 0 35px;
}

.back{
    opacity: 0.5;
    position: absolute;
    font-size: 70px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    right: 0;
}

.back:hover{
    opacity: 1;
    transform: scale(1.1);
}